[submodule "wildcat"]
	path = wildcat
	url = git@github.com:schoeberl/wildcat.git
[submodule "FloatingPointUnit"]
	path = FloatingPointUnit
	url = https://github.com/sebasabes2/FloatingPointUnit.git
[submodule "picomesh"]
	path = picomesh
	url = https://github.com/tjarker/picomesh.git
