#BUS_SORT

#S
clock
reset
wb_ack
wb_cyc
wb_stb
wb_we


wb_addr\[0\]
wb_wrData\[0\]
wb_rdData\[0\]
wb_sel\[0\]

wb_addr\[1\]
wb_wrData\[1\]
wb_rdData\[1\]
wb_sel\[1\]

wb_addr\[2\]
wb_wrData\[2\]
wb_rdData\[2\]
wb_sel\[2\]

wb_addr\[3\]
wb_wrData\[3\]
wb_rdData\[3\]
wb_sel\[3\]

wb_addr\[4\]
wb_wrData\[4\]
wb_rdData\[4\]

wb_addr\[5\]
wb_wrData\[5\]
wb_rdData\[5\]

wb_addr\[6\]
wb_wrData\[6\]
wb_rdData\[6\]

wb_addr\[7\]
wb_wrData\[7\]
wb_rdData\[7\]

wb_addr\[8\]
wb_wrData\[8\]
wb_rdData\[8\]

wb_addr\[9\]
wb_wrData\[9\]
wb_rdData\[9\]

wb_addr\[10\]
wb_wrData\[10\]
wb_rdData\[10\]

wb_addr\[11\]
wb_wrData\[11\]
wb_rdData\[11\]

wb_addr\[12\]
wb_wrData\[12\]
wb_rdData\[12\]

wb_addr\[13\]
wb_wrData\[13\]
wb_rdData\[13\]

wb_addr\[14\]
wb_wrData\[14\]
wb_rdData\[14\]

wb_addr\[15\]
wb_wrData\[15\]
wb_rdData\[15\]

wb_addr\[16\]
wb_wrData\[16\]
wb_rdData\[16\]

wb_addr\[17\]
wb_wrData\[17\]
wb_rdData\[17\]

wb_addr\[18\]
wb_wrData\[18\]
wb_rdData\[18\]

wb_addr\[19\]
wb_wrData\[19\]
wb_rdData\[19\]

wb_addr\[20\]
wb_wrData\[20\]
wb_rdData\[20\]

wb_addr\[21\]
wb_wrData\[21\]
wb_rdData\[21\]

wb_addr\[22\]
wb_wrData\[22\]
wb_rdData\[22\]

wb_addr\[23\]
wb_wrData\[23\]
wb_rdData\[23\]

wb_addr\[24\]
wb_wrData\[24\]
wb_rdData\[24\]

wb_addr\[25\]
wb_wrData\[25\]
wb_rdData\[25\]

wb_addr\[26\]
wb_wrData\[26\]
wb_rdData\[26\]

wb_addr\[27\]
wb_wrData\[27\]
wb_rdData\[27\]

wb_addr\[28\]
wb_wrData\[28\]
wb_rdData\[28\]

wb_addr\[29\]
wb_wrData\[29\]
wb_rdData\[29\]

wb_addr\[30\]
wb_wrData\[30\]
wb_rdData\[30\]

wb_addr\[31\]
wb_wrData\[31\]
wb_rdData\[31\]

$200

#E
io_in\[0\]
io_out\[0\]
io_oeb\[0\]
io_in\[1\]
io_out\[1\]
io_oeb\[1\]
io_in\[2\]
io_out\[2\]
io_oeb\[2\]
io_in\[3\]
io_out\[3\]
io_oeb\[3\]
io_in\[4\]
io_out\[4\]
io_oeb\[4\]
io_in\[5\]
io_out\[5\]
io_oeb\[5\]
io_in\[6\]
io_out\[6\]
io_oeb\[6\]
io_in\[7\]
io_out\[7\]
io_oeb\[7\]
io_in\[8\]
io_out\[8\]
io_oeb\[8\]
io_in\[9\]
io_out\[9\]
io_oeb\[9\]
io_in\[10\]
io_out\[10\]
io_oeb\[10\]
io_in\[11\]
io_out\[11\]
io_oeb\[11\]
io_in\[12\]
io_out\[12\]
io_oeb\[12\]
io_in\[13\]
io_out\[13\]
io_oeb\[13\]
io_in\[14\]
io_out\[14\]
io_oeb\[14\]

#NR
io_in\[15\]
io_out\[15\]
io_oeb\[15\]
io_in\[16\]
io_out\[16\]
io_oeb\[16\]
io_in\[17\]
io_out\[17\]
io_oeb\[17\]
io_in\[18\]
io_out\[18\]
io_oeb\[18\]
io_in\[19\]
io_out\[19\]
io_oeb\[19\]
io_in\[20\]
io_out\[20\]
io_oeb\[20\]
io_in\[21\]
io_out\[21\]
io_oeb\[21\]
io_in\[22\]
io_out\[22\]
io_oeb\[22\]
io_in\[23\]
io_out\[23\]
io_oeb\[23\]

#WR
io_in\[24\]
io_out\[24\]
io_oeb\[24\]
io_in\[25\]
io_out\[25\]
io_oeb\[25\]
io_in\[26\]
io_out\[26\]
io_oeb\[26\]
io_in\[27\]
io_out\[27\]
io_oeb\[27\]
io_in\[28\]
io_out\[28\]
io_oeb\[28\]
io_in\[29\]
io_out\[29\]
io_oeb\[29\]
io_in\[30\]
io_out\[30\]
io_oeb\[30\]
io_in\[31\]
io_out\[31\]
io_oeb\[31\]
io_in\[32\]
io_out\[32\]
io_oeb\[32\]
io_in\[33\]
io_out\[33\]
io_oeb\[33\]
io_in\[34\]
io_out\[34\]
io_oeb\[34\]
io_in\[35\]
io_out\[35\]
io_oeb\[35\]
io_in\[36\]
io_out\[36\]
io_oeb\[36\]
io_in\[37\]
io_out\[37\]
io_oeb\[37\]